################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculateDvdDiscId/.vs
/CalculateDvdDiscId/bin
/CalculateDvdDiscId/obj
